body {background-color: azure;
	height: 100%;
	width: 100%}


.container{
	width: 91vw;
	margin-left: auto;
	margin-right: auto;
	
}
.blog {padding: 30px; 
	border:5px solid gold;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: lightgray;
	border-radius: 10px;
	border-style: none dashed none none;}

.content {padding:20px;
		background-color: midnightblue;
		border:5px solid snow;
		border-radius: 10px 40px 10px 40px;
		color:snow;
		word-wrap: break-word;}

header{	margin-left: auto;
    margin-right: auto;
    width: 9em;}